<!DOCTYPE html>
<html lang="en" style="height: 90%;">
<head>
    <meta charset="UTF-8">
    <title>Life Game</title>
</head>
<body style="height: 100%;">
<h1 align="center">Life Game</h1>
{% for item in temp %}
{{item}}<br>
{% endfor %}

SECOND TEST
{% for item in temp1 %}
{{item}}<br>
{% endfor %}

THIRD TEST
{% for item in temp2 %}
{{item}}<br>
{% endfor %}

{% if agents | length < 0 %}
Waiting for agents to start the game. Current connected agents number is {{ agents|length }}:
{% for agent in agents %}
{{ agent.isAlive }}
{% endfor %}
.
{% else %}
<table border="1" style="height: 90%; width: 100%;table-layout: fixed">
    <tr>
        <td width="20%" height="20%">
            {% if agents[0][0].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[0][1].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[0][2].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[0][3].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[0][4].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td width="20%" height="20%">
            {% if agents[1][0].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[1][1].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[1][2].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[1][3].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[1][4].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td width="20%" height="20%">
            {% if agents[2][0].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[2][1].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[2][2].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[2][3].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[2][4].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td width="20%" height="20%">
            {% if agents[3][0].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[3][1].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[3][2].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[3][3].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[3][4].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td width="20%" height="20%">
            {% if agents[4][0].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[4][1].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[4][2].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[4][3].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
        <td width="20%" height="20%">
            {% if agents[0][4].isAlive == True %}
            <img src="./image/life_cell.jpg" alt="HERE IS LIFE" height="10%" width="100%">
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
</body>
</html>